// Colors
$color-scheme1: #c23750;
$color-scheme2: #4784AD;
$color-scheme3: #797979;
$color-scheme4: #DADADA;
$color-scheme5: #C7C2B9;
$color-scheme6: #C23750;
$color-scheme7: #696969;

// Fonts
$main-font: 'Helvetica Neue';

